VITE_GEMMA_API_URL=http://127.0.0.1:8080/v1/chat/completions
# VITE_KAGGLE_API_URL=https://unhurting-nonmediative-deegan.ngrok-free.dev/infer
VITE_BASECAMP_API_URL=https://unhurting-nonmediative-deegan.ngrok-free.dev